@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body {
  @apply bg-gray-50 text-gray-900;
  overflow-x: hidden;
  max-width: 100vw;
}

* {
  box-sizing: border-box;
}

